@import 'src/styles/variables';

.regionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regionItem {
  text-transform: capitalize;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid $color-gray-primary;
  border-radius: 5px;
  cursor: pointer;

  &:active {
    background-color: $color-gray-primary;
  }
}

.textCapitalize {
  text-transform: capitalize;
}
